{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}My Notes App{% endblock %}</title>
    <link href="{% static 'css/style.css' %}?{% now 'u' %}" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'note_list' %}">My Notes</a></li>
          <li><a href="{% url 'note_new' %}">New Note</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <p>&copy; 2023 My Notes App</p>
    </footer>
  </body>
</html>